/*!
	Intentional Parenting Stylesheet
*/
@import "normalize";
@import "bits";
@import "var";

html,body {
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
}
html {
	background: #fff;
}
body {
	color: $text;
	font:
		300 0.875em/1.6
		'Droid Serif', serif;
	@include bp(44) {
		font-size: 0.9375em;
	}
}

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: darken($blue, 10%);
		text-decoration: underline;
	}
}
.btn {
	@include button($orange, #fff, $orange);
}
.clear-btn {
	@include button(transparent, #fff, #fff);
}
.white-btn {
	@include button(#fff, $dark-gray, #fff);
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald', sans-serif;
	line-height: 1.4;
	margin-top: 0;
	font-weight: 700;
	letter-spacing: 1px;
}

h1 {
	text-transform: uppercase;
	font-size: 2em;
	@include bp(44) {
		font-size: 3.25em;
	}
}

h4 {
	font-style: italic;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-size: 1.25em;
	letter-spacing: 0;
	@include bp(44) {
		font-size: 1.75em;
	}
}


.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */


@import "modules";
@import "header";
@import "resources";
@import "flip-card";
@import "get-connected";
@import "join-free";
@import "we-believe";
@import "upgrade-premium";
@import "footer";
