.resources {
	overflow: hidden;
}
.resource-tabs {
	display: none;
	@include bp(50) {
		display: block;
	}
}
.nav-tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: $teal;
	display: none;
	@include bp(50) {
		float: left;
		width: 30%;
		height: 26em;
		display: block;
	}
	> li {
		position: relative;
		display: none;
		float: none;
		width: 100%;
		@include bp(44) {
			display: block;
		}
		> a {
			display: block;
			padding: 2.4em 1em 1.4em;
			width: 100%;
			color: white;
			margin-right: 2px;
			line-height: 1.4;
			border-radius: 4px 4px 0 0;
			outline: none;
			text-decoration: none;
		}
		&.active {
			display: block;
		}
		&:first-child {
			background-color: darken($teal,5%);
		}
		&:nth-child(2n) {
			background-color: lighten( $teal, 25% );
			&.active a:after {
				background-color: lighten( $teal, 25% );
			}
		}
		&:nth-child(3n) {
			background-color: lighten( $teal, 15% );
			&.active a:after {
				background-color: lighten( $teal, 15% );
			}
		}
		&:last-child {
			background-color: lighten( $teal, 5% );
			&.active a:after {
				background-color: lighten( $teal, 5% );
			}
		}
		h3 {
			display: inline-block;
			padding-left: 0.5em;
		}
		svg {
			font-size: 2.5em;
			vertical-align: middle;
			margin-top: -0.25em;
		}
	}
	.active {
		a {
			color: $dark-gray;
			&:after {
				content: '';
				position: absolute;
				bottom: -0.5em;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 2.5em;
				height: 2.5em;
				border-radius: 50%;
				background-color: darken($teal,5%);
				z-index: 10;
				@include bp(50) {
					right: -1em;
					top: 30%;
					left: auto;
					bottom: auto;
				}
			}
		}
	}
}

.tab-content {
	display: block;
	position: relative;
	@include bp(50) {
		background: url(_i/view-resources-bg.jpg) center center no-repeat;
		background-size: cover;
		float: left;
		width: 70%;
		height: 26em;
		padding: 0;
		&:before {
			background: rgba(65,163,156,0.8);
			height: 100vh;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 1;
		}
	}
	a:hover {
		text-decoration: none;
	}
	.tab-background-color {
		background-color: rgba(50,127,121,0.75);
		padding: 1em;
	}
	> .tab-pane {
		display: block;
		padding: 0;
		text-align: center;
		width: 100%;
		position: relative;
		z-index: 10;
		margin-bottom: 3em;
		background: url(_i/view-resources-bg.jpg) center center no-repeat;
		background-size: cover;
		overflow: hidden;
		&:before {
			background: rgba(65,163,156,0.7);
			height: 50em;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: -1;
		}
		&:nth-of-type(even) {
			@include bp(30) {
				.resource-forty {
					float: right;
				}
			}
		}
		&:nth-of-type(even) {
			@include bp(30) {
				.resource-sixty {
					float: right;
					border-left: none;
					border-right: 1em solid white;
				}
			}
			@include bp(50) {
				.resource-sixty {
					border: none;
				}
			}
		}
		@include bp(50) {
			display: none;
			background: none;
			margin-bottom: 0;
			&:before {
				display: none;
			}
		}
	}
	> .active {
		display: block;
		padding: 0;
		text-align: center;
		width: 100%;
		position: relative;
		z-index: 10;
	}
	.half {
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include bp(44) {
			padding-left: 10%;
			text-align: left;
		}
	}
	li {
		padding-bottom: 1em;
		color: white;
		font-size: 1em;
		@include bp(30) {
			font-size: 1.25em;
		}
	}
	.white-btn {
		margin: 2em auto 0;
	   display: block;
	   max-width: 12em;
		font-size: 1em;
		font-family: 'Droid Serif', serif;
		font-style: italic;
		text-transform: none;
		font-weight: normal;
		@include bp(30) {
			font-size: 1.25em;
		}
		@include bp(50) {
			margin-top: 8%;
			display: inline-block;
		}
	}
	.resource-forty {
		width: 100%;
		padding: 2em 0;
		border-bottom: 0.5em solid white;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			height: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
			background: rgba(65,163,156,0.75);
			z-index: -1;
			@include bp(30) {
				height: 100vh;
			}
		}
		@include bp(30) {
			border: none;
			float: left;
			width: 37.5%;
			padding: 14em 0 0;
		}
		@include bp(50) {
			display: none;
		}
		.icon {
			font-size: 3em;
			border: 1px solid white;
			border-radius: 50%;
			@include bp(30) {
				font-size: 5em;

			}
		}
		h3 {
			color: white;
			font-size: 1.25em;
			margin: 0;
			@include bp(30) {
				font-size: 1.5em;
			}
		}
	}
	.resource-sixty {
		width: 100%;
		text-align: left;
		padding: 4em 2em 3em;
		@include bp(30) {
			padding: 10em 2em;
			float: left;
			width: 62.5%;
			border-left: 1em solid white;
		}
		@include bp(50) {
			padding: 12.5% 0 0 0;
			float: none;
			width: 100%;
			text-align: center;
			border: none;
		}
		.half {
			width: 100%;
			float: none;
			@include bp(50) {
				float: left;
				width: 47.5%;
				margin-bottom: 0;
			}
		}
	}
}