    body {
      font-size: 1em; }
    .content-wrap.full {
      padding: 2em; }

    .half {
      float: left;
      width: 47.5%;
      margin-bottom: 0; }
      .half.first {
        margin-right: 5%; }

  .two-third {
    float: left;
    width: 65%; }
    .two-third.first {
      margin-right: 5%; }

  .third {
    float: left;
    width: 30%; }
    .third.first {
      margin-right: 5%; }

    .three-list > li {
      float: left;
      width: 33.333%;
      margin: 0;
      padding: 0 1em; }
      .three-list > li:last-child {
        margin: 0; }
      .three-list > li:nth-child(3n) {
        margin: 0; }

    .content-section {
      float: left;
      max-width: 42em;
      width: 67.2%; }
    .top-header {
      padding: 1em 0; }

    .toggle-nav {
      display: none; }
    .site-title {
      text-align: left;
      float: left; }

    .header-content {
      width: 50%; }
    .header-content {
      float: right;
      position: static;
      width: auto; }

    .social {
      width: auto;
      text-align: left; }

    .search-form {
      display: inline-block;
      width: auto;
      margin: 0; }

    .main-navigation {
      position: static;
      width: 100%;
      border-bottom: 0.25em solid #256085;
      background: #edf9ff;
 }

    .nav-buttons {
      float: right;
      text-align: right; }


    .top-nav {
      display: inline-block; }
      .top-nav > li {
        display: inline-block;
        padding: 1em 0; }
        .top-nav > li > a {
          padding: 0 1.5em;
          border: 0;
          border-right: 1px solid #d2d0cb; }

    .subnav {
      padding: 0.5em 0; }

  .expand .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    min-width: 115%;
    -webkit-box-shadow: -0.3125em 0.3125em 0.75em 0.05em rgba(0, 0, 0, 0.15);
    box-shadow: -0.3125em 0.3125em 0.75em 0.05em rgba(0, 0, 0, 0.15); }
    .expand .subnav#menu-about {
      min-width: 200%; }

  .show-nav .site-content {
    left: 50%; }
  .show-nav .site-title {
    left: 50%; }
  .show-nav .toggle-nav {
    left: 55%; }
  .show-nav .site-content,
  .show-nav .site-title,
  .show-nav .toggle-nav,
  .show-nav .header-content,
  .show-nav .main-navigation {
    left: auto; }

        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
          max-width: 100%; }

  .item:before {
    content: '';
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#edebe8), to(transparent));
    background-image: -webkit-linear-gradient(bottom, #edebe8, transparent);
    background-image: -moz-linear-gradient(bottom, #edebe8, transparent);
    background-image: -o-linear-gradient(bottom, #edebe8, transparent);
    background-image: linear-gradient(to top, #edebe8, transparent); }
  .item.dark-gradient:before {
    content: '';
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#333333), to(transparent));
    background-image: -webkit-linear-gradient(bottom, #333333, transparent);
    background-image: -moz-linear-gradient(bottom, #333333, transparent);
    background-image: -o-linear-gradient(bottom, #333333, transparent);
    background-image: linear-gradient(to top, #333333, transparent); }

    .carousel-control {
      top: 50%;
      width: 2em;
      font-size: 1.5em;
      margin-top: -1.25em; }

    .carousel-caption {
      position: absolute;
      left: 2em;
      bottom: 2em;
      z-index: 1;
      text-align: left;
      font-size: 1em;
      height: auto;
      font-size: 1em; }
      .carousel-caption div {
        position: static;
        padding: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); }
      .carousel-caption .white-text h1 {
        color: #efefef; }
      .carousel-caption .white-text p {
        color: #fff; }
      .carousel-caption .black-text h1 {
        color: #111; }
      .carousel-caption .black-text p {
        color: #292929; }

  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px; }

    .newsletter-signup [data-icon] {
      background: #256085;
      position: absolute;
      top: -0.75em;
      font-size: 2.75em; }
    .field {
      float: left;
      width: 26%;
      margin-right: 2%;
      margin-bottom: 0; }

    .mc4wp-form input[type="submit"] {
      float: left;
      width: 16%; }
    .mc4wp-form .toggle-overlay {
      position: absolute;
      bottom: -1.25em;
      left: 50%;
      margin-left: -75px;
      padding: 0; }

    .modal {
      width: 60%; }

  .newsletter-options ul {
    padding: 2em; }
  .newsletter-options li {
    float: left;
    width: 50%;
    margin: 0; }

    .nav > li {
      display: block;
      width: auto; }

  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%; }

  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0; }
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0; }

  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff; }

  .nav-justified > li {
    display: table-cell;
    width: 1%; }

  .nav-justified > li > a {
    margin-bottom: 0; }
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0; }

  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff; }
    .regular-tab-nav .active {
      border-bottom: 1px solid #fff; }

    .single-image {
      float: left;
      width: 20%;
      margin: 0 5% 0 0; }

  .single-content {
    float: left;
    width: 75%; }
  .single-content .view-all {
    float: right;
    margin: 0.25em 0 0; }

    .tabs-toggle {
      display: none; }

    .feature-tab-nav [data-icon] {
      font-size: 1.25em; }
    .feature-tab-nav .tab-label {
      display: block; }

    .tab-column {
      float: left;
      width: 50%;
      padding: 1em 1em 0 0; }
    .tab-column {
      width: 33.3333%; }

      .tab-column.double {
        width: 66.6666%; }
      .tab-column.image {
        display: block; }
    .tab-column.right-tab {
      padding: 1em 0 0 1em; }

    .only-two .tab-column {
      width: 50%; }

    .bottom-footer ul {
      float: left;
      text-align: left; }

    .copyright {
      float: right;
      text-align: right; }

    .sidebar-section {
      float: left;
      max-width: 20.5em;
      width: 32.8%; }

    .widget_sp_image {
      float: none;
      width: 100%; }
      .widget_sp_image img {
        margin: 0; }
      .widget_sp_image h2 {
        text-align: left; }

    .entry-footer img {
      float: left;
      width: 20%;
      margin-right: 5%; }
    .entry-footer .author-info {
      float: left;
      width: 75%;
      margin: 0; }

    .archive-grouping .half {
      width: 50%; }
    .popup-bottom .two-third {
      float: left;
      width: 65%; }
      .popup-bottom .two-third.first {
        margin-right: 5%; }
    .popup-bottom .third {
      float: left;
      width: 30%; }
      .popup-bottom .third.first {
        margin-right: 5%; }
      .products li {
        float: left;
        width: 30%;
        margin: 0 5% 3em 0; }
        .products li:nth-child(3n) {
          margin-right: 0; }
        .related .products li {
          float: left;
          width: 18%;
          margin-right: 2.5%; }
          .related .products li:nth-child(3n) {
            margin-right: 2.5%; }
          .related .products li:nth-child(5n) {
            margin-right: 0; }

    .shop_table li > div {
      float: left;
      border-right: 1px solid #ddd; }
    .shop_table li > div {
      min-height: 6em; }

    .cart-header div {
      display: block; }

    .cart-name {
      width: 100%;
      border-bottom: 1px solid #efefef;
      border-right: 0 !important; }
      .cart-name .cart-thumb {
        float: left;
        margin: 0 0.5em 0 0; }
    .cart-name {
      width: 60%;
      border-bottom: 0;
      border-right: 1px solid #efefef; }

    .cart-price {
      width: 10%; }
      .cart-price:before {
        display: none; }

    .cart-quantity {
      width: 20%; }

    .cart-subtotal {
      width: 10%; }
      .cart-subtotal:before {
        display: none; }

    .cart-coupon {
      width: 55%; }
      .cart-coupon input[type="text"] {
        width: 100%;
        margin-bottom: 1em; }
    .cart-coupon input[type="text"] {
      width: auto;
      margin-bottom: 0; }

    .cart-apply {
      float: none; }

    .cart-buttons {
      width: 45%; }
    .cart-buttons {
      text-align: right; }

    .cart-update {
      display: inline-block;
      width: auto;
      margin: 0; }

    .checkout-button {
      display: inline-block;
      width: auto; }
  .addresses label {
    width: 40%; }
  .addresses input,
  .addresses textarea {
    width: 55%; }
  .addresses select {
    display: inline-block;
    width: 48%;
    margin: 0.5em 5%; }

    .order-label {
      float: left;
      width: 55%;
      border-right: 1px solid #ddd; }

    .order-amount {
      float: left;
      width: 45%; }

    .thank-you .order-header {
      display: block; }

  .stripe_new_card label {
    width: 50%; }
  .stripe_new_card input {
    width: 45%; }
  .stripe_new_card select {
    display: inline-block; }
  .stripe_new_card #cc-expire-month {
    width: 25%;
    margin: 0.5em 2%; }
  .stripe_new_card #cc-expire-year {
    width: 15%;
    margin: 0.5em 2%; }
  .stripe_new_card #stripe_card_csc {
    width: 45% !important; }

    .gfield_label {
      float: left;
      width: 35%;
      text-align: right;
      padding-right: 1.5em; }

    .ginput_container {
      float: left;
      width: 65%; }
      .ginput_container input, .ginput_container select, .ginput_container textarea {
        display: inline-block;
        width: 100%; }

    .ginput_left,
    .ginput_cardinfo_left {
      display: block;
      float: left;
      width: 48%;
      margin-right: 4%; }

    .ginput_right,
    .ginput_cardinfo_right {
      display: block;
      float: left;
      width: 48%; }

    .ginput_card_expiration_container select {
      margin-right: 1em;
      width: auto; }
      .ginput_card_expiration_container select:last-of-type {
        float: none; }

    .donate-form .gfield_label {
      width: 25%; }
  .donate-form .ginput_container {
    width: 75%; }

    .donate-amounts li {
      display: inline-block;
      margin: 1em;
      width: auto; }
    .donate-amounts .gfield_radio label {
      display: inline-block;
      width: auto; }
    .donate-amounts li:last-child {
      width: auto; }

  .donate-newsletter .ginput_container {
    margin-left: 25%; }

      .about-snippets li {
        float: left;
        width: 31%;
        margin-right: 3.5%; }
        .about-snippets li:last-child, .about-snippets li:nth-child(3n+3) {
          margin-right: 0; }
    .date-list > li {
      background: none;
      background: -moz-linear-gradient(left, #256085 0%, #256085 25%, #edebe8 25%, #edebe8 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #256085), color-stop(25%, #256085), color-stop(25%, #edebe8), color-stop(100%, #edebe8));
      background: -webkit-linear-gradient(left, #256085 0%, #256085 25%, #edebe8 25%, #edebe8 100%);
      background: -o-linear-gradient(left, #256085 0%, #256085 25%, #edebe8 25%, #edebe8 100%);
      background: -ms-linear-gradient(left, #256085 0%, #256085 25%, #edebe8 25%, #edebe8 100%);
      background: linear-gradient(to right, #256085 0%, #256085 25%, #edebe8 25%, #edebe8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-back', endColorstr='$tab-gray',GradientType=1 ); }
      .date-list > li:before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-top: 0.75em solid transparent;
        border-bottom: 0.75em solid transparent;
        border-left: 0.75em solid #256085;
        position: absolute;
        top: 50%;
        left: 25%;
        margin-top: -0.75em;
        z-index: 5; }

    .date-info {
      background: none;
      float: left;
      width: 25%;
      font-size: 1em;
      padding: 1em; }
      .date-info h2 {
        display: block; }

    .date-details {
      background: none;
      float: left;
      width: 75%;
      padding: 1em 1em 1em 1.5em; }

    .start-time {
      font-weight: normal;
      font: 1em "lft-etica","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

    .end-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 75%;
      padding: 0 1em 1em; }

  .end-label {
    display: block;
    line-height: 1;
    text-transform: uppercase; }

    .event-contact li {
      float: left;
      width: 50%; }

.ie-turn-btn {
  display: block;
}
.info-card .back {
  display: none;
  backface-visibility: visible;
  transform: none;
}
.info-card .front {
  display: block;
}
.info-card .back.turned {
  display: block;
}
.info-card .front.turned {
  display: none;
}