/*!
	Intentional Parenting Stylesheet
*/
@import "normalize";
@import "bits";
@import "var";

html,body {
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
}
html {
	background: #fff;
}
body {
	color: $text;
	font:
		300 0.875em/1.6
		'Raleway', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	@include bp(44) {
		font-size: 0.9375em;
	}
}

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: darken($blue, 10%);
		text-decoration: underline;
	}
}
.btn {
	@include button($red, #fff);
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 1.4;
	margin-top: 0;
	font-weight: 700;
}
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.intentional-blank {
	background-color: #f5f5f5;
	.pilot-form {
		background: white;
		max-width: 44em;
		margin: 0 auto;
		padding: 1em;
		@include bp(44) {
			margin: 2em auto;
			padding: 2em 0;
		}
	}
}

@import "modules";
@import "header";
@import "store";
@import "quiz";
@import "video";
@import "download";
@import "why";
@import "who";
@import "footer";
@import "paths";