.map-section {
	background: $dark-gray url(_i/intent-map.jpg) right center no-repeat;
	background-size: cover;
	padding-bottom: 2em;
	.med-wrap {
		padding: 2em 0 1em;
	}
	.section-header {
		svg {
			fill: $blue;
		}
		h2 {
			color: #fff;
			font-size: 2em;
			@include bp(44) {
				font-size: 3em;
			}
		}
	}
	.three-list {
		li {
			padding: 2em 0;
			@include bp(44) {
				padding: 0;
			}
		}
	}
	/* entire container, keeps perspective */
	.flip-container {
		perspective: 1000;
	}
	/* flip the pane when hovered */
	.flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
	.flip-container.hover {
		.front {
			display: none;
		}
		.back {
			z-index: 11;
		}
	}

	.flip-container, .front, .back {
		/*width: 320px;*/
		height: 20em;
	}

	/* flip speed goes here */
	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;
	}

	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}

	/* front pane, placed above back */
	.front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	}

	/* back, initially hidden pane */
	.back {
		transform: rotateY(180deg);
	}
	@include bp(50) {

		/* entire container, keeps perspective */
		.flip-container {
			perspective: 1000;
		}
			/* flip the pane when hovered */
			.flip-container:hover .flipper, .flip-container.hover .flipper {
				transform: rotateY(180deg);
			}

		.flip-container, .front, .back {
			/*width: 320px;*/
			height: 20em;
		}

		/* flip speed goes here */
		.flipper {
			transition: 0.6s;
			transform-style: preserve-3d;
			position: relative;
		}

		/* hide back of pane during swap */
		.front, .back {
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}

		/* front pane, placed above back */
		.front {
			z-index: 2;
			/* for firefox 31 */
			transform: rotateY(0deg);
		}

		/* back, initially hidden pane */
		.back {
			transform: rotateY(180deg);
		}
	}
}
.info-card {
	text-align: center;
	color: #fff;
	max-width: 18.75em;
	margin: 0 auto;
	position: relative;
	background: rgba(255, 255, 255, 0.25);
	@include bp(50) {
		background: transparent;
	}
	p {
		line-height: 1.6;
	}
	h3, h4 {
		text-transform: uppercase;
	}
	.front {
		padding: 1.5em;
		img {
			max-width: 9em;
		}
		h3 {
			margin-top: 0.25em;
		}
	}
	.back {
		background: $red;
		padding: 1.5em;
		h4 {
			font-size: 1.15em;
			margin: 0.5em 0;
		}
		img {
			max-width: 4.5em;
		}
		p {
			text-align: left;
			font-size: 0.9em;
			margin: 0.5em 0;
		}
	}
}
.turn-btn,
.turn-btn-inside,
.ie-turn-btn {
	display: block;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	right: 1em;
	top: 0.75em;
	color: white;
	z-index: 10;
	transition: all 500ms ease-in-out;
	&:hover {
		color: white;
	}
	@include bp(50) {
		display: none;
		&:hover {
			color: $dark-gray;
		}
	}
}
.ie-turn-btn {
	display: none;
}