.sessions {
    /*background: $black url(_i/doing-life/sessions.jpg) right center no-repeat;
    background-size: 50% auto;*/
    background: $black;
    overflow: hidden;
    > img {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        display: none;
        @include bp(44) {
            display: block;
        }
    }
}
.session-list-container {
    padding: 6em 2.5% 6em;
    color: #999;
    h2 {
        color: #fff;
        text-align: right;
    }
    @include bp(44) {
        padding: 10em 53.125% 6em 2.5%;
        text-align: right;
    }
}
.session-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        position: relative;
        margin: 0 0 2em;
        padding: 0 0 0 3.75em;
    }
    h4 {
        color: $red;
        margin: 0 0 0.3125em;
        font-weight: 800;
    }
    p {
        font-size: 0.875em;
        margin: 0;
    }
    span {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 1.75em;
        width: 1.75em;
        color: $red;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        font-size: 1.75em;
        line-height: 1.75em;
    }
    @include bp(44) {
        li {
            padding: 0;
        }
        span {
            left: auto;
            right: -2.3125em;
            top: 50%;
            margin-top: -0.875em;
        }
    }
}
