$text: #524e4b;
$black: #2a2a2a;
$blue: #3281b3;
$gray-text: #aaa;
$blue-back: #256085;
$radio: #3784b4;
//$family: #7bbd3a;
$family: #75cbc3;
$church: #753b58;
$green: #76ab41;
$tan: #d2d0cb;
$light-blue: #edf9ff;
$newsletter-blue: #a5c7dc;
$tab-gray: #edebe8;
$sidebar: #f5f2ed;
$yellow: #f7cd23;
$red: #e74c3c;
$devo: #549F93;
$culture: #D1603D;

$new-blue: #166ea4;
$new-tan: #f1f0ed;
$new-teal: #75cbc3;
$new-back: #f4f4f4;
$new-dark-blue: #1C5A7D;
$new-lt-blue: #55A8FD;
