@mixin bp($point) {
	@if $point == 80 {
		@media (min-width: 80em) { @content; }
	}
	@else if $point == 67.5 {
		@media (min-width: 67.5em) { @content; }
	}
	@else if $point == 62.5 {
		@media (min-width: 62.5em) { @content; }
	}
	@else if $point == 50 {
		@media (min-width: 50em) { @content; }
	}
	@else if $point == 44 {
		@media (min-width: 44em) { @content; }
	}
	@else if $point == 30 {
		@media (min-width: 30em) { @content; }
	}
	@else if $point == 25 {
		@media (min-width: 25em) { @content; }
	}
}

/*Clearfix*/
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1;
}

/*Box-sizing*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Responsive Images*/
img {
	max-width: 100%;
	height: auto;
}
.assistive-text,
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

@mixin button($back-color, $text-color, $border-color) {
	display: inline-block;
	background-color: $back-color;
	border: 1px solid $border-color;
	color: $text-color;
	line-height: 1.1em;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 1.1em;
    padding: 1.25em 1.8em;
	border-radius: 3em;
	transition: transform 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
	transform-style: preserve-3d;
	&:hover {
		color: $text-color;
		background: darken($back-color, 10%);
		border-color: darken($border-color, 10%);
		transform: scale3d(0.96, 0.96, 1.01);
	}

	@include bp(62.5) {
		font-size: 0.9em;
		padding: 1.4em 2.15em;
	}
}