$text: #62778f;
$gray: #f9fafb;
$gray-lt: #e7eaee;
$gray-blue: #becad7;
$gray-blue-dk: #8096b0;
$blue-lt: #064ea4;
$blue: #0f437f;
$blue-dk: #1e3d60;
$blue-sky: #e1edfb;
$orange: #f99d77;
$yellow: #fcdf69;
$box-shadow: 0 6px 12px 0 rgba(6, 43, 86, 0.04);